<section>
  <div class="page-header">
    <h1 ng-bind="vm.cdn.name"></h1> <small>Version: {{vm.cdn.version}}</small>
  </div>
  <div class="pull-right" ng-show="vm.cdn.isCurrentUserOwner">
    <a class="btn btn-primary" ui-sref="cdns.edit({ cdnId: vm.cdn._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.cdn.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.cdn.user" ng-bind="vm.cdn.user.displayName"></span>
      <span ng-if="!vm.cdn.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.cdn.description"></p>
  <br>
  <input type="text" class="form-control" value="{{vm.cdn.url}}">
</section>
